.openSourceContributionListContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 32px;
}

.openSourceContributionContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 32px;
}