.folderContainer {
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-bottom: 8px;
  border-radius: 8px;
  width: 120px;
}

.folderContainer:hover {
  background-color: var(--hover-color);
}

.folderIcon {
  width: 100%;
}

.folderContent {
  font-weight: 500;
  color: var(--text-color);
  text-align: center;
  text-wrap: balance;
}

.clicked {
  border: 2px solid var(--primary-color);
}