.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 16px;
  width: calc(100dvw - var(--app-padding) * 2);
  padding-bottom: 16px;
  border-bottom: 1px solid var(--text-color-with-opacity);
  margin-bottom: 16px;
}

.appTitle {
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

.appTitle p {
  color: var(--text-color-with-opacity);
}

.topNav {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.topNav div {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.topNav a.active {
  color: var(--text-color);
}

.topNav a.active:hover {
  color: var(--primary-color-hover);
}

.bottomNav {
  display: none;
}

@media (max-width: 600px) {
  .topNav {
    display: none;
  }

  .bottomNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--background-color);
    padding: 16px;
    border-top: 1px solid var(--text-color-with-opacity);
    z-index: 1000;
  }
}
