.layout {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.layoutMain {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.layoutMenu {
  width: var(--menu-width);
  display: flex;
  justify-content: flex-end;
}
