.layout {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.layoutMain {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.layoutMenu {
  width: var(--menu-width);
  display: flex;
  justify-content: flex-end;
}

@media (max-width: 600px) {
  .layout {
    flex-direction: column-reverse;
  }
  .layoutMenu {
    width: calc(100dvw - var(--app-padding) * 2);
    justify-content: flex-start;
  }
}