.stackListContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.stackListContainer > div {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.stackListContainer > div > img {
  width: 30px;
  height: 30px;
}