.projectListContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-top: 32px;
}

.projectContainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.projectImageContainer > img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10%;
}

.projectInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 600px) {
  .projectContainer {
    flex-direction: column;
  }
}