.tagListContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.tag {
  background-color: #e5e5e5;
  padding: 4px 8px;
  border-radius: 16px;
  font-size: 0.7em;
  font-weight: 500;
  color: var(--text-color);
}
