.tagListContainer {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.tag {
  background-color: var(--carousel-background-color);
  padding: 4px 8px;
  border-radius: 16px;
  font-size: 0.7em;
  color: var(--text-color);
}
