.experienceListContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.experienceContainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.experienceLogoContainer {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  overflow: hidden;
}

.experienceLogoContainer > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.experienceInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 600px) {
  .experienceContainer {
    flex-direction: column;
  }
}