@keyframes rotate {
  0%, 100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(4deg);
  }
  75% {
    transform: rotate(-4deg);
  }
}

.avatar {
  width: 180px;
  height: 180px;
  filter: drop-shadow(-1.5px -1.5px 0 white)
          drop-shadow(1.5px -1.5px 0 white)
          drop-shadow(-1.5px 1.5px 0 white)
          drop-shadow(1.5px 1.5px 0 white)
          drop-shadow(-2px -2px 0.75px rgba(0, 0, 0, 0.15))
          drop-shadow(2px -2px 0.75px rgba(0, 0, 0, 0.15))
          drop-shadow(-2px 2px 0.75px rgba(0, 0, 0, 0.15))
          drop-shadow(2px 2px 0.75px rgba(0, 0, 0, 0.15));
  animation: rotate 4s ease-in-out infinite;
}