@font-face {
  font-family: 'Rosaline';
  src: url('/fonts/Rosaline.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --background-image: url('/images/paper-white.png');

  --primary-color: #84CCF8;
  --primary-color-hover: #106194;
  --text-color: rgba(255, 255, 255, 0.87);
  --text-color-with-opacity: rgba(255, 255, 255, 0.5);
  --background-color: #242424;
  --button-color: #1a1a1a;

  --app-padding: 72px;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-repeat: repeat;
  background-size: 24px 24px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-size: 1.1em;
}

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url('/images/paper-black.png');

    --text-color: #213547;
    --text-color-with-opacity: rgba(0, 0, 0, 0.5);
    --background-color: #ffffff;
    --button-color: #f9f9f9;
  }
}

@media (max-width: 600px) {
  :root {
    --app-padding: 16px;
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  :root {
    --app-padding: 48px;
  }
}

a {
  font-weight: 500;
  color: var(--primary-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--primary-color-hover);
}

body {
  margin: 0;
  display: flex;
  padding: var(--app-padding);
}

hi, h2 {
  margin: 0;
  padding: 0;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--button-color);
  cursor: pointer;
  transition: border-color 0.25s;
  color: var(--text-color);
}
button:hover {
  border-color: var(--primary-color);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
