.button {
  background-color: var(--button-color);
  border: 2px solid var(--button-color);
  border-radius: 8px;
  padding: 16px;
  font-size: 0.9em;
  cursor: pointer;
  color: var(--text-color);
}

.button:hover {
  border: 2px solid var(--primary-color);
}