.projectListContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.projectContainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.projectImageContainer > img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10%;
}

.projectInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 600px) {
  .projectContainer {
    flex-direction: column;
  }
}

.imageListContainer {
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex-wrap: wrap;
}

.imageItem {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 10%;
  cursor: pointer;
}

.previewImageContainer {
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.previewImageContainer > img {
  max-height: 80%;
}
